    .error-class_.DS_Store_1498111930 {
                        color: #a94442;
                    }

                    .required-field_.DS_Store_1498111930 {
                        color: #a94442;
                    }

                    .label-class_.DS_Store_1498111930 {
                        color: #000000 ;
                    }